[Unit]
Description=Delinter for your Docker daemon

[Service]
Type=oneshot
{% for s in docker_cleanup_scripts %}
{% if s.enabled %}
ExecStart=-{{docker_cleanup_install_dir}}/{{s.script}}
{% endif %}
{% endfor %}
User=root
Group=docker
